.admin-header {
	background: #455;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	margin-left: 250px;
	height: 45px;
	grid-column: 1/3;
	grid-row: 1/2;
}

.nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.menu > .material-icons {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item {
	margin: 1em;
	font-size: 1em;
	color: floralwhite;
	text-decoration: none;
}