.cart-container {
	position: absolute;
	background: rgba(0, 0, 0, .0);
	width: auto;
	height: auto;
	top: 50px;
	right: 0;

	z-index: 3;
	display: none;

	flex-direction: row;
	justify-content: space-between;
}

.cart-box {
	background: white;
	box-shadow: 0 3px 35px rgba(0, 0, 0, 0.3);
	padding: 0;
	width: 325px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/*border-bottom-left-radius: 30px;*/
}

.cart-wrapper {
	display: grid;
	grid-template-columns: 80px 100px 1fr;
	grid-template-rows: auto;
	grid-gap: 0.1em;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	padding: 0.8em 1em;
}

.cart-wrapper:nth-child(even){
	background: #3771;
}

.cart-wrapper:hover{
	cursor: pointer;
	background: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cart-wrapper:active{
	background: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	/*border-bottom-left-radius: 30px;*/

}


img.img-item {
	grid-column: 1/2;
	border-radius: 80px;
	height: 60px;
	width: 60px;
	box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
}

div.cart-img {
	text-align: center;
}

.item-name {
	grid-column: 2/3;
	width: 100px;
	font-size: 0.8em;
}

.item-qty {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column: 3/4;
	width: 100px;
	font-size: 0.8em;
	text-align: center;

}

span.minus {
	grid-column: 1/2;
	border: 2px solid green;
	text-align: center;
	cursor: pointer;
	padding: 0.2em;
}

span.counter {
	grid-column: 2/3;
	border:  2px solid green;
	background: green;
	color: white;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	padding: 0.2em;

}

span.plus {
	grid-column: 3/4;
	border:  2px solid green;
	text-align: center;
	cursor: pointer;
	padding: 0.2em;
}

span.plus:active {
	background: maroon;
	color: white;
}

span.minus:active {
	background: maroon;
	color: white;
}

span.subprice {
	grid-column: 1/4;
	grid-row: 2/3;
	border: 2px solid green;
	border-top: 0px;
	text-align: left;
	padding: 0.3em;
	font-size: 12px;
}