.cart-container {
	position: absolute;
	background: rgba(0, 0, 0, .0);
	width: auto;
	height: auto;
	top: 50px;
	right: 0;

	z-index: 3;
	display: none;

	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
}

.cart-box {
	background: white;
	box-shadow: 1 3px 15px rgba(0, 0, 0, 0.3);
	padding: 0;
	width: 325px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	/*border-bottom-left-radius: 30px;*/
}

.cart-wrapper {
	display: grid;
	grid-template-columns: 80px 100px 1fr;
	grid-template-rows: auto;
	grid-gap: 0.1em;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	padding: 0.8em 1em;
}

.remove-item {
	padding: 3px;
	width: 25px;
	height: 25px;
	position: initial;
	color: white;
	background: coral;
	border-radius: 100%;
	/*grid-column: 4/5;*/
	border: 2px solid lightsalmon;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	z-index: 10;
	margin-top: -6.5em;

}

.remove-item:hover {
	background: maroon;
}

.remove-item:active {
	background: maroon;
}

.cart-footer {
	padding: 1em 1em;
	box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.15);
	font-weight: 300;
	font-size: 0.9em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-footer > span {
	color: green;
	font-weight: 500;
}
.cart-empty {
	padding: 0.8em 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-weight: 300;
	font-size: 0.9em;
}

.cart-wrapper:nth-child(odd){
	background: #3771;
}

.cart-wrapper:hover{
	background: white;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
	background: mistyrose;
}	

.cart-wrapper:active{
	background: white;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18);
	/*border-bottom-left-radius: 30px;*/
	background: mistyrose;
}


img.img-item {
	grid-column: 1/2;
	border-radius: 80px;
	height: 60px;
	width: 60px;
	box-shadow: 0 5px 12px rgba(0, 0, 0, .3);
}

div.cart-img {
	text-align: center;
}

.item-name {
	grid-column: 2/3;
	width: 100px;
	font-size: 0.8em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.p-name {
	overflow: hidden;
	width: 80px;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0.2em 0;

}
.p-price {
	overflow: hidden;
	width: 80px;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0.2em 0;
}

.item-qty {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column: 3/4;
	width: 100px;
	font-size: 0.8em;
	text-align: center;

}

span.minus {
	grid-column: 1/2;
	border: 2px solid green;
	text-align: center;
	cursor: pointer;
	padding: 0.2em;
}



span.counter {
	grid-column: 2/3;
	border:  2px solid green;
	background: green;
	color: white;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	padding: 0.2em;

}

span.plus {
	grid-column: 3/4;
	border:  2px solid green;
	text-align: center;
	cursor: pointer;
	padding: 0.2em;
}

span.plus:active {
	background: coral;
	color: white;
}

span.plus:hover {
	background: maroon;
	color: white;
}

span.minus:hover {
	background: maroon;
	color: white;
}

span.minus:active {
	background: coral;
	color: white;
}

span.subprice {
	grid-column: 1/4;
	grid-row: 2/3;
	border: 2px solid green;
	border-top: 0px;
	text-align: left;
	padding: 0.3em;
	font-size: 12px;
}