* {
	margin: 0;
	box-sizing: border-box;
	font-family: tahoma;
}

body {
	background: #FFF;
	overflow-y: scroll;
	overflow-x: hidden;
}

.header-container {
	background: mediumseagreen;
	text-transform: uppercase;
	height: 50px;
	top: 0;
	z-index: 1;
	display: flex;
	position: -webkit-sticky;
	position: sticky;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 200px rgba(0, 0, 0, 0.4);
}

span.material-icons {
	margin-right: 0.1em;
}

.navbar {
	padding-right: 14px;
	padding-left: 14px;
}

.brand > a{
	color: floralwhite;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: auto;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.navbar > div.navbar-item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	font-weight: 350;
	cursor: pointer;
}


@media (max-width: 480px){
.header-container {
	background: seagreen;
	height: 50px;
	display: flex;
	position: sticky;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.brand > a {
	color: whitesmoke;
	text-overflow: ellipsis;
	font-weight: bolder;
	font-size: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}



.navbar > div.navbar-item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
}


}


.footer-container {
	background: mediumseagreen;
	font-weight: 400px;
	padding: 10px;
	position: sticky;
	bottom: 0;
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.copyright {
	color: whitesmoke;
}


.content-page {
	/*margin-top: 50px;*/
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, auto);
	height: 100%;
	overflow: hidden;
	justify-content: stretch;
	padding-right: 40px;
	padding-left: 40px;
}

.gigs-cards{
	
	padding: 0.8em;
	background: White;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: auto;
	justify-content: center;
	align-content: center;
	font-size: 0.8em;
	column-gap: 0.8em;
	row-gap: 0.8em;
}

.gigs-cards-items {
	background: white;
	height: 100%;
	max-width: 100%;
	box-shadow: 3px 3px 3px rgb(0 0 0 / 15%);
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	border: 1px solid #2a8a55;

}

.product-img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: 1/3;
	grid-row: 1/2;
}

img.product-image {
	max-width: 100%;
	height: 150px;
	text-align: center;
}




span.product-price {
	font-size: auto;
	/*padding: 0.8em;*/
	width: 100%;

	grid-row: 1/3;
	grid-column: 1/3;
	color: white;
	font-weight: 600;
	background: #137d42;

	opacity: 0.9;
/*	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;*/

	display: flex;
	justify-content: space-between;
	justify-items: center;
	flex-direction: row;
	
}

span.prc {
	flex: 4;
	display: flex;
	align-items: center;
	padding: 0 0.8em;
}
span.atc.material-icons {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0;
	background: #2e8b57;
	padding: 0.2em;
}

.product-desc {
	height: 100px;

	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;


	background: #fff;
	color: #455;

	font-size: 1.1em;
	font-weight: 400;
	grid-row: 2/3;
	grid-column: 1/3;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);

}



.product-title {
	padding: 0.6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	background: #0279a7;
	font-weight: 450;
	grid-row: 3/4;
	grid-column: 1/3;
	text-transform: capitalize;
}

.product-title-disable {
	padding: 0.6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ccc;

}


.gigs-category {
	height: 200px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 8px;
	background: #3771;
	margin: 10px;
	

}

.cat-item {
	width: 100%;
	height: 100%;
	background: white;
	padding: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


span.stock {
	border-top: 1px solid #2a8a55;
}



/*Break Point*/

@media only screen and (max-width: 768px){

	.content-page {
		padding: 0;
	}
	.gigs-cards {
		grid-template-columns: auto auto;
		grid-template-rows: 1fr 1fr;
	}
	.gigs-cards-items{
		grid-template-columns: 1fr;
		font-size: 12px;
		width: 100%;
		font-family: monospace;
		font-weight: 150;
		border: 1px solid #2a8a55;
	}

	.product-image {
		max-width: 100%;

	}


	.product-desc {
		grid-row: 2/3;
		grid-column: 1/3;

	}

	span.text {
		text-align: left;
		text-shadow: blanchedalmond;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100%;
	}	

	span.stock {
		font-size: 1em;
		border-top: 1px solid #2a8a55;
	}

	.product-title {
		padding: 0.6em;
		grid-row: 3/4;
		grid-column: 1/3;
		
	}

	.product-price {
		font-size: 1.2em;
		grid-column: 1/3;
	}
}


 span.stock {
 	color: white;
 	text-transform: capitalize;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	font-size: 1em;
 	font-weight: 250!important;
 	border-top: 1px solid #2a8a55;
 }

span.items-stats {
 	background: #be9123ed;
 	padding: 0.5em;
 	flex: 5;
 	display: flex;
 	align-items: center;
 	border-right: 0px solid #2a8a55;
 	font-size: 1em;
 }

span.items-count {
 	background: white;
 	padding: 0.5em;
 	flex: 1;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	color: #234;
 	border-top: 0px solid #2a8a55;
 }

 span.text {
 	padding: 0.6em;
 }


@media only screen and (max-width: 450px){

	span.text {
		text-align: left;
		text-shadow: blanchedalmond;
		font-size: 0.9em;
	}


	span.items.stats {
		padding: 0.5em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	span.items-count {
		background: palegoldenrod;
		color: darkgoldenrod;
	}

}
